#header {
  padding: 20px;
  height: calc(10vh - 40px);
  /* background-color: var(--color2); */
  /* color: white; */
  box-shadow: 0 5px 100px 5px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#header.no-shadow {
  box-shadow: none;
}

#header > h1 {
  margin: 0;
}

#header > #right-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
}

#header > #right-menu.hidden {
  display: none;
}

#header > #right-menu > button {
  height: 100%;
  padding: 0;
  background-color: white;
  font-size: 2em;
  border: none;
}

#header > #right-menu > div {
  position: absolute;
  right: 0;
  display: grid;
  background-color: white;
  padding: 20px 0;
  border: 1px solid lightgray;
  box-shadow: 0 1px 10px -5px black;
}

#header > #right-menu > div.hidden {
  display: none;
}

#header > #right-menu > div > button {
  background-color: white;
  border: 1px solid white;
  padding: 5px 30px;
}

#header > #right-menu > div > button:hover {
  border: 1px solid lightgray;
}

#content {
  height: 90vh;
}

#toast {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 1px 10px -5px black;
  animation: shake 0.5s 1 ease-in-out;
  display: none;
}

#toast.Error {
  display: inherit;
  background-color: var(--red);
  color: white;
}

#toast.Success {
  display: inherit;
  background-color: var(--color8);
  color: white;
}

@keyframes shake {
  0% {
    transform: translateX(-50%) translate(30px);
  }
  20% {
    transform: translateX(-50%) translate(-30px);
  }
  40% {
    transform: translateX(-50%) translate(15px);
  }
  60% {
    transform: translateX(-50%) translate(-15px);
  }
  80% {
    transform: translateX(-50%) translate(8px);
  }
  100% {
    transform: translateX(-50%) translate(0px);
  }
}
