#explorer > span {
  display: block;
  padding: 50px 0 0;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

#document-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  gap: 20px;
}

.document-card {
  box-shadow: 0 1px 10px -5px black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.document-card:hover {
  background-color: var(--green);
}

.document-card > span {
  display: block;
  text-align: center;
}

.document-card > span:nth-child(1) {
  font-weight: bold;
  padding: 0 0 10px;
  border-bottom: 1px solid lightgray;
}

.document-card > span:nth-child(2) {
  color: gray;
  padding: 10px 0 0;
}

.document-card > div {
  text-align: center;
  margin: 5px 0 -5px;
}

.document-card > div > button {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  margin: 0 3px;
}

.document-card > div > button:nth-child(1) {
  background-color: var(--color6);
}

.document-card > div > button:nth-child(1):hover {
  border: 1px solid var(--color6);
  color: var(--color6);
  background-color: white;
}

.document-card > div > button:nth-child(2) {
  background-color: var(--blue);
}

.document-card > div > button:nth-child(2):hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  background-color: white;
}
